.App {
  font-family: sans-serif;
  text-align: center;
}

.users {
  border: #000 1px solid;
  padding: 4px;
}

.users__user {
  border: #000 1px solid;
  margin: 10px;
  padding: 4px;
}

.users__user-name {
  font-size: 26px;
  font-weight: bold;
}

.users__user-email, .users__user-phone {
  font-size: 18px;
}

.navigation {
  margin-bottom: 30px;
}

.navigation__list {
  list-style: none;
}

.navigation__list li {
  display: inline-block;
  margin-right: 15px;
}

.navigation__list li a {
  color: #000;
  text-decoration: none;
}
